<header>
        <div class="header-title">{{ .Site.Title }}</div>

        <nav>
                {{ $currentPage := . }}

                {{ range .Site.Menus.SECTION_MENU }}

                        {{ if $currentPage.IsMenuCurrent "SECTION_MENU" . }}
                                <div class="nav-item nav-item-inactive">{{ .Title }}</div>
                        {{ else }}
                                <a href="{{ .URL }}"><div class="nav-item nav-item-active">{{ .Title }}</div></a>
                        {{ end }}
                        
                {{ end }}
        </nav>
</header>

