@import url(animation.css);

:root {
        --body-color: #335E6F;
        --button-color: #FFA500;
        --box-color: #862730;
}

* {
        box-sizing: border-box;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        border-style: none;
        outline: none;
}

*::-moz-focus-inner {
        border: 0;
}

body {
        display: grid;
        place-items: center;
        min-height: 100vh;
        background-color: var(--body-color);
        text-align: center;
}

.container {
        min-height: 50vh;
}

button {
        padding: .5em 1em .5em 1em;
        margin: 1em;
        font-size: 1.5em;
        font-weight: bold;
        background-color: var(--button-color);
        border-radius: .2em;
}

.box {
        display: inline-block;
        width: 10vw;
        height: 10vh;
        margin: .5em;
        background-color: var(--box-color);
        border: 1px solid #222;
}