@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: local("Ubuntu-Regular"), url(/font/Ubuntu-Regular.ttf) format("truetype");
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-style: none;
    outline: none;
}

*::-moz-focus-inner {
    border: 0;
}

:root {
    --background-color: #00607D;
    --text-color: #EAEAEA;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    background-color: var(--background-color);
}

div {
    font-family: Ubuntu;
    font-size: 1.2em;
    font-weight: 400;
    color: var(--text-color);
}

.logo {
    height: 10em;
    padding: 1.5em;
}