@font-face {
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;
        src: local("Oswald Regular"), local("Oswald-Regular"), url(/font/Oswald-Regular.woff) format("woff");
}

:root {
        --background-color: #FEFEFE;
        --text-color: #252525;
        --header-bg-color: #00809F;
        --footer-bg-color: #326891;
}

* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border-style: none;
        outline: none;
}

*::-moz-focus-inner {
        border: 0;
}

body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        justify-items: center;
        min-height: 100vh;
        font-family: "Oswald";
        background-color: var(--background-color);
}

header {
        min-width: 100vw;
        color: #EEE;
        text-align: center;
        padding: .1em 0 .5em 0;
        background-color: var(--header-bg-color);
}

section {
        width: 90vw;
        font-size: 1.5em;
        padding: .5em .5em .5em .5em;
}

footer {
        min-width: 100vw;
        font-size: .8em;
        color: #EEE;
        text-align: center;
        padding: .5em 0 .5em 0;
        background-color: var(--footer-bg-color);
}

figure {
        text-align: center;
        margin: 1em;
}

figure>img {
        width: 100%;
        max-width: 512px;
}

code {
        font-size: .8em;
}

a {
        text-decoration: none;
}

.header-title {
        color: #DDD;
        font-size: 3em;
        font-weight: bold;
}

.nav-item {
        margin: 0 .5em 0 .5em;
        display: inline;
        font-size: 1.2em;
}

.nav-item-active {
        color: #EEE;
}

.nav-item-inactive {
        color: #FFD993;
}

.nav-item-active:hover {
        color: #333;
}

section>h1 {
        border-bottom: 3px solid var(--text-color);
        margin-bottom: .5em;
        color: var(--text-color);
        font-size: 1em;
}

section>p {
        text-align: justify;
        color: var(--text-color);
        font-size: .8em;
}