@font-face {
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;
        src: local("Oswald Regular"), local("Oswald-Regular"), url(/font/Oswald-Regular.woff) format("woff");
}

:root {
        --background-color: #FEFEFE;
        --text-color: #252525;
        --header-bg-color: #00809F;
        --footer-bg-color: #326891;
}

* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border-style: none;
        outline: none;
}

*::-moz-focus-inner {
        border: 0;
}

body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        justify-items: center;
        min-height: 100vh;
        font-family: "Oswald";
        background-color: var(--background-color);
}

header {
        width: 100vw;
        color: #EEE;
        text-align: center;
        padding: .1rem 0 .5rem 0;
        background-color: var(--header-bg-color);
}

main {
        width: 90vw;
        font-size: 1.5rem;
        padding: .5rem;
}

footer {
        width: 100vw;
        font-size: 1rem;
        color: #EEE;
        text-align: center;
        padding: .5rem 0 .5rem 0;
        background-color: var(--footer-bg-color);
}

.header-title {
        color: #DDD;
        font-size: 3rem;
        font-weight: bold;
}

.nav-item {
        margin: 0 .5rem 0 .5rem;
        display: inline;
        font-size: 1.2rem;
}

.nav-item-active {
        color: #EEE;
}

.nav-item-inactive {
        color: #FFD993;
}

.nav-item-active:hover {
        color: #333;
}

main>h1 {
        border-bottom: 2px solid var(--text-color);
        margin-bottom: .5rem;
        padding-bottom: .5rem;
        color: var(--text-color);
        font-size: 1.5rem;
        font-weight: 500;
}

main>p {
        text-align: justify;
        color: var(--text-color);
        font-size: 1rem;
}

figure {
    text-align: center;
    margin: 1rem;
}

figure>img {
    width: 100%;
    max-width: 512px;
}

code {
    font-size: .8rem;
}

a {
    text-decoration: none;
}