server {
        listen 80;
        listen [::]:80;

        server_tokens off;

        root /var/www/example;

       	index index.html;

        gzip_static on;

        server_name example.com www.example.com;

        location = /application {
                proxy_pass http://127.0.0.1:8000;
        }

        location / {
                try_files $uri $uri/ =404;
        }

}
