* {
        box-sizing: border-box;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        border-style: none;
        outline: none;
}

*::-moz-focus-inner {
        border: 0;
}

body {
        display: grid;
        place-items: center;
        min-height: 100vh;
        background-color: #335E6F;
}